{% extends "shop/base.html" %}

{% load static %}

{% block content %}
    <div class="container py-5" style="margin-top: 0;">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h2 class="card-title text-center">Реєстрація</h2>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="form-label">{{ form.username }}</div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">{{ form.email }}</div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">{{ form.password1 }}</div>
                            </div>

                            <div class="form-group">
                                <div class="form-label">{{ form.password2 }}</div>
                            </div>

                            <div class="form-user">
                                <button type="submit" class="btn btn-primary shadow_head">Зберегти</button>
                                <a class="btn btn-danger shadow_head" href="{% url 'login' %}">Скасувати</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
