.pagination ul {
    display: flex;

    background: #fff;
    padding: 8px;
    border-radius: 50px;
}

.pagination ul li {
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    border: solid;
    height: 45px;
    width: 45px;
    margin: 0 3px;
}

.pagination ul li.btn {
    border-radius: 50%;
    background: #20b2aa;
    padding: 0px 20px;
}

.pagination ul li.btn_inactive {
    background: #fff;
    padding: 0px 20px;
}

.pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
}

.pagination present {
    border-radius: 50%;
    background: #20b2aa;
}

.pagination li.active,
.pagination li.numb:hover,
.pagination li.btn:hover {
    color: #fff
    border: solid;
    background: #20b2aa;
}
