{% load static %}

<html>
	<head>
		<title>
			{% block title %}
				Панель керування
			{% endblock %}
		</title>

		<link type="text/css" href="{% static 'css/base.css' %}" rel="stylesheet" />
		<link type="text/css" href="{% static 'css/product_view.css' %}" rel="stylesheet"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	</head>
	<body style="background-color: #F5F1E0;">
		<header>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow_head">
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav mr-auto">
						<a class="navbar-brand" href="{% url 'home' %}" style="height:50px;">
							<img class="d-inline-block align-top logotype" height="50px;" src="{% static 'images/shop.svg' %}">
						</a>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:users_print' %}">Користувачі</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:products' %}">Продукти</a>
                        </li>
                    </ul>
                </div>
			</nav>
		</header>

		<!--Block for CSS-->
		{% block styles %}
		{% endblock %}

		<div style="margin-top: 100px;">
			{% block content %}
			{% endblock %}
		</div>

		<!--Block for JS-->
		{% block scripts %}
		{% endblock %}
	</body>
</html>