{% extends 'panel/admin_base.html' %}
{% load static %}

{% block content %}
    <div style="margin-top: 50px;">
        <table border="1" align="center">
            <tr>
                <td>Пошта</td>
                <td>Обрані категорії</td>
            </tr>
            {% for user in data %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.mailing_objects}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}